@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

*{
    margin: 0px;
    font-family: 'Do Hyeon', sans-serif;
}

html{
    font-size: 30px;
    text-align: center;
    color: black;
}

header{
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#gopage{
    background-color: #33a474;
    height: 100vh;
}

#gobtn{
    background-color: #e4ae3a;
    border: 0;
    border-radius: 30px;
    width: 10rem;
    height: 10vh;
    color: white;
}

#gobtn>p{
    font-size: 3vh;
}
#gobtn:hover{
    cursor: pointer;
}
#elements{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
}


footer{
    background-color: #fffaf1;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}

radio:hover{
    cursor: pointer;
}
@media (min-width:768px) {
    #name{
        font-size: 4vw;
    }
}

@media (max-width:768px){
    #gobtn{
        width: 80%;
        margin-top: 3rem;
    }
    #gobtn>p{
        font-size: 6vw;
    }
    #name{
        font-weight: bold;
    }
    html{
        font-size: 20px;
        background-color: #33a474;
    }
    header{
        background-color: white;
    }
    #gopage{
    }
}

.jump{
    margin: 2vh;
}


#translation{
    width: 5rem;
    height: 1rem;
    background-color: white;
}
#translation:hover{
    cursor: pointer;
}